# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints

# Jupyter
*.nbconvert.ipynb

# Environment
.env
venv/
env/
.conda/
.anaconda/
.pyenv-virtualenv/

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db
*.log

# Personal files (Windows)
AppData/
Desktop/
Documents/
Downloads/
OneDrive/
Music/
Pictures/
Videos/
*.mdf
*.ldf
